<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="col-lg-1"></div>
      <div class="col-lg-11">
       <br>
         <ul>
           <li>
              <h1>Proyecto 1</h1>
              <br>
              <h3>(years)</h3>
           </li>
           <p>Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Voluptatibus, deserunt molestiae nobis
              architecto ab placeat obcaecati blanditiis iste at? Dolor 
              consectetur sapiente fugiat quo, numquam aliquid aperiam
              quibusdam rem consequatur.</p>
         </ul>
   <br>
         <ul>
           <li>
              <h1>Proyecto 2</h1> 
              <br>
              <h3>(years)</h3>
           </li>
           <p>Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Voluptatibus, deserunt molestiae nobis
              architecto ab placeat obcaecati blanditiis iste at? Dolor 
              consectetur sapiente fugiat quo, numquam aliquid aperiam
              quibusdam rem consequatur.</p>
         </ul>