.row{
    background:#a7b2a5 ;
}
footer{
    color: rgb(46, 48, 47);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #676d6b;
}