.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}

img{
    width: 120px;
}

i{
  font-size: 25px;
    color: white;
}

#inicio{
    font-size: 15px;
}


