<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [title] ="'HTML'"
  [titleColor]="'#ffffff'"
  [titleFontSize]="'30px'"
  [showSubtitle]="true"
  [animateTitle]="true"
  [renderOnClick]="true"
  [percent]="90"
  [showUnits]="true"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="9"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'#ffffff'"
  [outerStrokeGradientStopColor]="'#ffffff'"
  [innerStrokeColor]="'#ffffff'"
  [animation]="true"
  [animationDuration]="550"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [title] ="'CSS'"
  [titleColor]="'black'"
  [titleFontSize]="'30px'"
  [showSubtitle]="false"
  [percent]="80"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'black'"
  [outerStrokeGradientStopColor]="'#655'"
  [innerStrokeColor]="'lightblue'"
  [animation]="true"
  [animationDuration]="550"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [title] ="'Java Script'"
  [titleColor]="'black'"
  [titleFontSize]="'30px'"
  [showSubtitle]="false"
  [percent]="70"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'black'"
  [outerStrokeGradientStopColor]="'#655'"
  [innerStrokeColor]="'lightblue'"
  [animation]="true"
  [animationDuration]="550"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [title] ="'SCRUM'"
  [titleColor]="'black'"
  [titleFontSize]="'30px'"
  [showSubtitle]="false"
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'black'"
  [outerStrokeGradientStopColor]="'#655'"
  [innerStrokeColor]="'lightblue'"
  [animation]="true"
  [animationDuration]="550"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [title] ="'Bootstrap'"
  [titleColor]="'black'"
  [titleFontSize]="'30px'"
  [showSubtitle]="false"
  [percent]="90"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'black'"
  [outerStrokeGradientStopColor]="'#655'"
  [innerStrokeColor]="'lightblue'"
  [animation]="true"
  [animationDuration]="550"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [title] ="'Angular'"
  [titleColor]="'black'"
  [titleFontSize]="'30px'"
  [showSubtitle]="false"
  [percent]="95"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'black'"
  [outerStrokeGradientStopColor]="'#655'"
  [innerStrokeColor]="'lightblue'"
  [animation]="true"
  [animationDuration]="550"
  [lazy]="true"
  ></circle-progress>
  </div>
 