<div class="row">
 <div class="col-sm-4 col-md-4 col-lg-4">
    <img src="../../../assets/125564386.jpg" class="img-fluid" id="fotoperfil">
    <p id="nombre">Vivian Figueredo</p>
    <p>Full Stack Developer Jr</p>
 </div>
 <div class="col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1>Acerca de mi</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae sapiente 
      placeat expedita facilis et nam voluptas, temporibus veniam odio consequuntur ullam 
      dolore nihil, voluptates magnam. Molestiae ducimus alias voluptatibus assumenda?</p>
  </span>
 </div>
</div>
