<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <img src="../../../assets/125564386.jpg" class="img-fluid rounded-circle shadow">
      <div id="piedefoto">
        <p>Vivian Figueredo</p>
        <p>Full Stack Developer Jr</p>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
     <p id="presentacion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum 
      facilis dolor repellat eius, quos odio voluptas inventore amet ut aliquam est neque esse 
     officia, provident dolorum quaerat facere, soluta impedit. Vel eos numquam, fugit 
     asperiores voluptatum aliquam qui dicta earum recusandae at vitae explicabo 
     cum magnam, ducimus quasi necessitatibus tempora.</p>
    </div>
  </div>
</div>
