div{
    background-color: #a7b2a5 ;
    text-align: center;
}
.row{
    padding: 50px;
    padding-top: 100px;
 }

 @media (min-width: 576px){
    .img-fluid {
       position: absolute;
       top: 60%;
       left: 6%;
       max-width: 26%;
       border: 1px solid rgb(113, 123, 116);
       box-shadow: 3px 3px 3px rgba(100, 101, 101, 0.5)!important;
      }
   }
  @media (max-width: 575px){
     .img-fluid {
       position: absolute;
       top:32%;
       left: 24%;
       max-width: 50%;
       border: 1px solid rgb(113, 123, 116);
       box-shadow: 3px 3px 3px rgba(100, 101, 101, 0.5)!important;
      }
  }

  @media (min-width: 576px){
    #piedefoto{
       font-weight: 700;
       position: relative;
       top: 78%;
       height: auto;
       color: white;
       font-size: larger;
       font-family: 'Arial Narrow';
      }
   }

   @media (max-width: 575px){
      #piedefoto{
       font-weight: 700;
       margin-top: 15%;
       color: white;
       font-size: x-large;
       font-family: 'Arial Narrow';
      }
   }

   @media (min-width: 576px){
      #presentacion{
         font-weight: 400;
         text-align: center;
         left: 10%;
         color: white;
         font-size: larger;
      }
   }
 
   @media (max-width: 575px){
     #presentacion{
        font-weight: 500;
        text-align: center;
        left: 10%;
        margin-top: 10%;
        color:  white;
        font-size: larger;
     }
   }