.row{
    padding: 20px;
}
 div{
background-color: #a7b2a5 ;
text-align: center;
 }
 @media (min-width: 576px){
    #fotoperfil{
        border-radius: 100%;
        box-shadow: 2px 2px 10px rgb(50, 57, 63);
        width: 100%;
       

    }
}

    @media (max-width: 575px){
        #fotoperfil{
            width: 40%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px rgb(50, 57, 63);
            left: 31%; 
        }   
    }

 #nombre{
    font-weight: bold;
    margin-top: 5%;
 }
 